@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff6ed;
  font-family: "Roboto", sans-serif;
}

.title {
  position: relative;
  display: flexbox;
  width: fit-content;
  height: 30vh;
  margin: -15rem auto;
  text-align: center;
}

.title h1 {
  font-size: 10pc;
  margin-top: 15rem;
  font-weight: bolder;
}

.title h2 {
  font-size: 2pc;
  margin-left: 4.5rem;
  letter-spacing: 5rem;
}

.image_container {
  height: 40vh;
  width: 100%;
  margin-top: 30vh;
  background-image: url(https://images.pexels.com/photos/273935/pexels-photo-273935.jpeg);
  background-size: cover;
}

img {
  margin-left: 7vw;
  z-index: 2;
}

.map {
  background-image: url(https://img.freepik.com/free-vector/speed-race-car-track-map-game_107791-10676.jpg?w=2000);
  background-size: cover;
  background-position: center;
  /* border: solid tomato; */
  width: 90%;
  height: 30rem;
  margin: 15rem auto;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem;
  border-radius: 7px;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
}

.racer {
  display: none;
  transition: 1s;
  margin: auto auto;
  width: 90px;
}

.stage:nth-child(1) {
  /* border: red solid; */
  margin-top: 3rem;
}

.stage:nth-child(2) {
  /* border: red solid; */
  margin-top: 16rem;
}

.stage:nth-child(3) {
  /* border: red solid; */
  margin-top: -2rem;
}


.stage {
  /* position: absolute; */
  border: solid #004575;
  border-radius: 50%;
  /* border-width: 10px; */
  width: 70px;
  height: 70px;
  /* display: inline-block; */
  transition: 0.5s;
  background-color: #004575;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.363);
  text-align: center;
  /* margin-top: 1.5rem; */
  display: flex;
  justify-content: center;
}

.stage:hover {
  transform: scale(350%);
  border-radius: 20%;
  /* background-color: white; */
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.363);
}

p {
  display: none;
}

.stage:hover > .racer {
  display: unset;
  width: 3rem;
}
